/*
 * SimpleModal Basic Modal Dialog
 * http://simplemodal.com
 *
 * Copyright (c) 2013 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 */
html {
	margin: 0;
	padding: 0;
}

body {
	background: #FFF;
	color: #333;
	font: 12px/22px verdana, arial, sans-serif;
}
img {
	border:0;
	margin-top: 5;
}
h3 {
	color: #95C144;
	font-size: 22px;
	line-height: 26px;
	font-weight: normal;
	margin: 0 0 8px 0;
}
h4 {
	color: #5A7D23;
	font-size: 16px;
	line-height: 26px;
	font-weight: normal;
	margin: 0 0 8px 0;
}
#container {
	background: #fff;
	display: block;
	margin: auto;
	width: 980px;
}
#container2 {
	background: #fff;
	display: block;
	text-align: center;
	margin: 0 auto;
	width: 1040px;
}
#toc {
	margin: 0;
	padding: 0;
}
#left {
	width: 450px;
	float: left;
	padding-left: 0px;
}
#right {
	width: 540px;
	float: right;
	padding-left: 0px;
	margin-right: 20px;
}
#toc li {
	list-style: none;
}
#toc a:link {
	font-size: 1.5em;
	color: white;
	text-decoration: none;
	background: #5A7D23;
	display: block;
	padding: 4px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
}
#toc a:visited {
	color: white;
}
#toc a:hover {
	background: #95C144;
}
.chapter a:link {
	font-size: 1.5em;
	color: white;
	text-decoration: none;
	background: #5A7D23;
	padding: 4px 40px;
	text-transform: uppercase;
}
.chapter a:visited {
	color: white;
}
.chapter a:hover {
	background: #95C144;
}
#signup {
	background: #E1E1E1;
	display: block;
	margin: 6px auto;
	width: 920px;
	padding: 8px;
	border-radius: 5px;
	box-shadow: 0 6px 10px -2px #3f4143;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #9c9d9d;
}
.button {
	font-size: 16px;
    border: none;
    background: url(../images/greenbutton.png) repeat-x;
    padding: 5px 12px;
	color: #333;
	margin: 10px 0 0 0;
	padding: 10px 10px;
	width: 200px;
}
.button:hover {
    border: none;
	background:none;
	background-color:#c0ea64;
    padding: 5px 12px;
	color: #333;
	margin: 10px 0 0 0;
	padding: 10px 10px;
	width: 200px;
}

.inputfield1 {
	width: 200px;
	font-size: 16px;
	background-color:#c0ea64;
	margin: 6px;
}
.inputfieldselect {
	width: 200px;
	font-size: 11px;
	background-color:#c0ea64;
	margin: 6px;
}
.inputfieldselectoptional {
	width: 200px;
	font-size: 11px;
	margin: 6px;
}
.inputfieldoptional {
	width: 200px;
	font-size: 16px;
	margin: 6px;
}
#msg {
	font-size: 12px;
	font-weight:bold;
	color:#F00;
}
#toggleSection {
	font-size: 14px;
	font-weight:bold;
	color:#5A7D23;
}
